.Anuncio__container {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: crimson;
}
.Anuncio__texto {
    position: relative;
    width: 90%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Anuncio__texto h2{
    font-size: 20px;
    line-height: 25px;
    text-align: center;
}
.Anuncio__texto p{
    margin-top: 20px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}
.Anuncio__img--logos {
    width: 50%;
}

@media screen and (max-width: 600px) {
    .Anuncio__img--logos {
        width: 80%;
    }
}