.Habilitada__container {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: crimson;
    top: 0;
}
.Habilitada__texto {
    position: relative;
    width: 90%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Habilitada__texto h1{
    text-align: center;
}
.Habilitada__texto h2{
    font-size: 20px;
    line-height: 25px;
    text-align: center;
}
.Habilitada__texto p{
    margin-top: 20px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}
.Habilitada__img--logos {
    width: 50%;
}

@media screen and (max-width: 600px) {
    .Habilitada__img--logos {
        width: 80%;
    }
    .Habilitada__texto h1{
        font-size: clamp(1rem, 6vw, 6vw);
    }
    .Habilitada__texto h2{
        font-size: clamp(1rem, 4vw, 4vw);
        line-height: 1.2;
    }
    .Habilitada__texto p{
        font-size: clamp(0.5rem, 4vw, 4vw);
        line-height: 1.2;
    }
    .Habilitada__img--logos {
        position: absolute;
        bottom: -140px;
    }
}