* {
  --marginMob: 20px;
  --widthMob: calc(100% - 40px);
}
.rbc-day-bg {
  background-color: white;
}
.rbc-today {
  background-color: rgba(0, 123, 255, 0.2);
}
.view-month .rbc-today {
  height: 100%;
}
.view-day .rbc-today,
.view-week .rbc-today,
.view-agenda .rbc-today {
  height: inherit;
}
.rbc-off-range-bg {
  background-color: #d8d8d8;
  height: 100%;
}
.Calendar__container {
  position: relative;
  width: 50%;
  height: 50vh;
  left: 25%;
  top: 100px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 600px) {
  .Calendar__container {
    width: var(--widthMob);
    left: var(--marginMob)
  }
}
.rbc-events-container {
  display: none;
}
/* * {
  border-color: rgb(173, 173, 173) !important;
}  */
.rbc-time-column .rbc-timeslot-group {
  flex: inherit;
}
.rbc-timeslot-group {
  min-width: 60px;
  height: 120px;
}
.rbc-time-slot {
    background-color: white !important;
}
.rbc-time-content, .rbc-day-slot .rbc-events-container {
    background-color: white !important;
}
.rbc-day-slot {
    background-color: white !important;
}
/* 
.rbc-day-slot .rbc-timeslot-group {
  border-bottom: none;
} 
*/
.event-count-indicator {
  justify-content: center;
  position: relative;
  width: 90%;
  left: 5%;
  background-color: aquamarine;
  color: white;
  font-size: 10px;
  text-align: center;
}
.event-count-indicator.past-day, .event-count-indicator.disabled-day{
  display: none;
}
.time-slot-indicator {
  position: "absolute";
  border-radius: "6px";
  width: "50%";
  left: "25%";
  top: "1px";
  height: "28px";
  display: "flex";
  align-items: "center";
  justify-content: "center";
  font-size: "12px";
  z-index: 10;
  cursor: "pointer";
}
.sbc-row, .rbc-row-segment {
  display: none;
}
.custom-time-slot-wrapper {
  position: relative;
}
.custom-time-slot-wrapper > .full, .custom-time-slot-wrapper > .available, .custom-time-slot-wrapper > .selected {
  background-color: violet;
}

.rbc-time-gutter .rbc-timeslot-group > .full,
.rbc-time-gutter .rbc-timeslot-group > .available,
.rbc-time-gutter .rbc-timeslot-group > .selected {
    display: none !important;
}

.rbc-day-slot .full,
.rbc-day-slot .available,
.rbc-day-slot .selected {
  position: relative;
  height: 30px;
  border-radius: 4px;
  margin-top: 2px;
  width: 90%;
  left: 5%;
  text-align: center;
  bottom: 5px;
    display: grid;
  place-items: center;
  font-size: 14px;
  line-height: 14px;
}

.full {
  background-color: crimson;

}
.available {
  background-color: var(--verde); 
}
.selected {
  background-color: yellow;
}

.rbc-timeslot-group > .full {
  color: white;
}
.rbc-timeslot-group > .available {
  color: white;
}
.rbc-timeslot-group > .selected {
  color:black
}

.full:hover, .available:hover, .selected:hover {
  cursor: pointer;
}
.rbc-day-bg.custom-date-cell-wrapper .event-count-indicator.full {
    cursor: not-allowed;
}