.loader2 {
  width: 60px;
  height: 40px;
  display: flex;
  transform: rotate(90deg);
  position: absolute;
  right: calc(50% - 30px);
}
.loader2:before {
  content: "";
  background: crimson;
  width: 15px;
  clip-path: polygon(0 10px,calc(100% - 15px) 10px,calc(100% - 15px) 0,100% 50%,calc(100% - 15px) 100%,calc(100% - 15px) calc(100% - 10px),0 calc(100% - 10px));
  animation: l1 1.5s infinite linear;
}
@keyframes l1 {
  90%,100%{flex-grow: 1}
}