.Formulario__canvas {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.295);
}
.Formulario__container form {
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
}

.Formulario__container input {
  padding: 4px 3px;
  border-radius: 4px;

}

.Formulario__container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: floralwhite ;
  width: 90vw;
  max-width: 450px;
  height: 600px;
  padding: 60px 20px;
  position: relative;
  border-radius: 10px;
  border: solid 2px #6f6f6f;
  opacity: 1;
  z-index: 2000;
  box-sizing: border-box;
}

.Formulario__button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  padding: 7px;
  background-color: crimson;
  border-radius: 5px;
}

.Formulario__button:hover {
  cursor: pointer;
  background-color: rgb(232, 51, 51);
}

.Formulario__ctaContainer button {
  position: relative;
    height: 40px;
  padding: 7px 20px;
  /* background-color: rgb(114, 195, 79); */
  background-color: var(--verde);
  border-radius: 5px;
  border: none;
  color: white;
  width: 90%;
  margin-top: 30px;
  left: 5%;
}

button:hover {
  cursor: pointer;
}

.labelYError {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: end ;
}
.Formulario__container label {
  font-size: 16px;
  line-height: 16px;
  margin: 10px 5px 3px 0;
}
.error-message {
  font-size: 11px;
  color: crimson;
  margin: 17px 0 4px 0;
}
.Formulario__disclaimer {
  
}
.Formulario__disclaimer p:first-child {
  color: crimson;
}
.Formulario__disclaimer p {
  display: inline;
}
.success-message {
  font-size: 26px;
  text-align: center;
}

/**/
