@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');
* {
  font-family: "Roboto", sans-serif;
  /* font-family: "Montserrat", sans-serif; */
}
:root {
  --verde: rgb(95, 162, 66);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* .roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 12px;
  font-style: normal;
  font-variation-settings:
    "wdth" 14;
} */

/* .montserrat{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 12px;
  font-style: normal;
} */
