.Instructivo__container {
    background-color: rgb(200, 230, 255);
    width: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}
.Instructivo__container p, .Instructivo__container li{
    margin: 0;
    font-size: 14px;
    line-height: 18px;
}
.Instructivo__mail {
    text-align: center;
}
@media screen and (max-width: 600px) {
    .Instructivo__container {
        position: absolute;
        top: 100vh;
    }
}

