.Spinner__container {
    display: flex;
}
.Spinner__container p {
    margin-left: 25px;
}
.loader {
  position:absolute;
  width: 40px;
  height: 40px;
  display: inline-block;
  position: relative;
  background: rgb(92, 181, 255);;
  box-sizing: border-box;
  animation: flipX 1s linear infinite;
}

@keyframes flipX {
  0% {
    transform: perspective(200px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(200px) rotateX(-180deg) rotateY(0deg);
  }
  100% {
    transform: perspective(200px) rotateX(-180deg) rotateY(-180deg);
  }
}
    